:root{
    --black: black;
    --white: white;
    --font-family: 'Saira', 'Arial', sans-serif;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 15px;
    /* outline: 1px solid black; */
    color: var(--text-color);
    font-family: var(--font-family);
}
body{
  outline: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.max-width-content {
  max-width: 1500px;
}
img{
    width: 200px;
    aspect-ratio: 1 / 1;
}
.dest img{
    height: 200px;
}
.cont{
  align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
}
.jumbotron {
  align-items: center;
    padding: 0;
    background-image: url('https://ik.imagekit.io/jlez6y282/compressed/hero-world.jpg?updatedAt=1721758475912');
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    color: white;
    overflow-x: hidden;
    min-height: 80vh;
    max-height: fit-content;
}
.navbar{
    background: rgba(49, 95, 102, 0.5);
    backdrop-filter: blur(20px);
    color: var(--white);
    width: 100%;
}
.btn{
  border-radius: 20px;
}

.navbar-nav .nav-link {
    color: var(--white);
}

.navbar-nav .nav-link:hover {
    color: #555;
}
.nav-item .active{
    background-color: #032B30;
    border-radius: 20px;
}

.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

#destinations-list .card {
    margin-bottom: 30px;
}
.back{
    background-color: #315F66;
    width: 100%;
}
.user img{
    width: 40px;
    height: 40px;
}
.navitems {
    max-width: 600px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.star img{
    width: 20px;
    height: 20px;
}
.explore img{
  width: 509;
  height: 324;
}

@media (max-width: 991px) {
    .navitems {
        flex-direction: column;
    }
}

/* destination.html */
.nav-dest{
    background-color: #315F66;
}
.carousel-item img{
    height: 80vh;
}
@media (max-width: 991px) {
  .carousel-item img{
    max-height: 50vh;
    aspect-ratio: 1/ 0.75;
  }
}
#carouselExampleCaptions {
    position: relative;
  }

  .carousel-indicators {
    position: absolute;
    bottom: 20px;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding: 10px 0;
    background: transparent;
  }

  .carousel-indicators button {
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #fff;
    opacity: 0.5;
    transition: opacity 0.3s ease;
  }

  .carousel-indicators button.active {
    opacity: 1;
  }

  .carousel-control-prev,
  .carousel-control-next {
    background: none;
    border: none;
    box-shadow: none;
    opacity: 1;
  }

  .carousel-control-prev:hover,
  .carousel-control-next:hover {
    background: none;
    opacity: 1;
  }

  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    padding: 20px;
    background-size: 50% 50%;
  }
  .destination img{
    aspect-ratio: 1 / 0.6;
  }
  /* user.html */
  .side-width{
    width: 217px;
  }
  .usernav, footer{
    background-color: rgba(49, 95, 102, 0.5);
  }
  .usernav{
    padding: 10px;
  }
  .sidebar{
    background-color: #315F66;
    padding-left: 10px;
  }
  .sidebar img{
    width: 50px;
    height: 50px;
  }
  .ubs{
    border-left: 1px solid var(--black);
    border-radius: 10px;
    margin-bottom: 1.5rem;
  }
  .container-fluid{
    padding: 0;
    margin: 0;
  }
  .userhero{
    background-image: url("https://ik.imagekit.io/jlez6y282/compressed/portada.png?updatedAt=1722238695266");
    height: 150px;
  }
  .profile img{
    width: 120px;
    height: 120px;
  }
  .avatar img{
    width: 40px;
    height: 40px;
  }
  .contact{
    flex-wrap: wrap;
  }
  .marina{
    width: 330px;
    height: 170px;
  }
 
  /* tour.html */
  .tron {
    align-items: center;
    background-image: url('./images/hero.svg');
    background-size: cover;
    background-position: 80%;
    background-repeat: no-repeat;
    color: white;
    min-height: 85vh;
    max-height: fit-content;
  }
.tour{
    width: 90%;
}
.tour img{
    aspect-ratio: 1/ 0.7;
} 
.visit-places p{
    font-size: 12px;
}
.tour .right-img{
     max-width: 100%;
     aspect-ratio: 1 / 0.45;
}
#accommodation img{
    max-width: 100%;
    max-height: 200px;
}
#accommodation p{
    font-size: 12px;
}